<ul id="leftmenu" class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="#">RSSMAILER
                    </a>
                </li>
                <li>
                    <a href="І" data-bind="click:showNewFeedView">Лента</a>
                </li>
                <li>
                    <a href="#" data-bind="click: showWidgetsView">RSS-ы</a>
                </li>
                <li>
                    <a href="#" data-bind="click: showCreateWidgetView">Добавить RSS</a>
                </li>
                <li>
                    <a href="#" data-bind="click: showCreateLetterView">Создать письмо</a>
                </li>
                
                <!--
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>-->
</ul>
<script src="/viewmodel/leftmenuvm.js">
</script>
<script>
    ko.applyBindings(rssmailer.vm.leftmenu, document.getElementById("leftmenu"));
</script>