<form id="registerFrom" data-toggle="validator" role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="txtEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-3">
                                <input type="email" class="form-control" id="txtEmail" placeholder="example@gmail.com" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtPassword" class="col-sm-2 control-label">Пароль</label>
                                <div class="col-sm-3">
                                <input type="password" class="form-control" id="txtPassword" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtRetypePassword" class="col-sm-2 control-label">Повтор пароля</label>
                                <div class="col-sm-3">
                                <input type="password" class="form-control" id="txtRetypePassword" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div id='loadingmessage' style='display:none'>
                                        <img src='/images/ajax-loader.gif'/>
                                    </div>
                                <button id="btnRegister" onclick="register()" type="button" class="btn btn-primary">Регистрация</button>
                                </div>
                            </div>
                        </form>