
<div id="divWidgets">
    <span data-bind="click: showWidget">Click</span>
<table id="tblWidgets" class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>RSS</th>    
            <th>GUID</th>    
        </tr>    
    </thead>
    <tbody data-bind="foreach: widgets">
        <tr>
            <td data-bind="text: id"></td>
            <td data-bind="text: rss, click: $parent.showWidget"></td>
            <td data-bind="text: guid"></td>
        </tr>
    </tbody>
</table>
<!-- Modal -->
  <div class="modal fade" id="widgetModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
            
          <textarea style="border:0px;width:100%;overflow:hidden;heigth:auto;">
                <div id='rssmailer-container' data-widget='180649'></div>
                <script src='http://rssmailerweb/js/widget_loader.js' async></script>
          </textarea>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>
<script src="/viewmodel/widgetvm.js">
</script>
<script>
    ko.applyBindings(rssmailer.vm.widget, document.getElementById("divWidgets"));
    rssmailer.vm.widget.loadWidgets();
</script>

  